{% extends base_template %}
{% load i18n %}

{% block nav_title %}{{ gsearch.title }}{% endblock %}

{% block content %}
<!--content-->
{% if gsearch.views %}
<div class="d-flex align-items-center flex-wrap py-3">
  <div class="ml-0 mr-1 my-1">
    <span class="text-muted">{% trans 'Searching in' %}</span>
  </div>
  <div class="btn-toolbar mr-1">
    {% for search in gsearch.views %}
    <div class="btn-group-toggle m-1" data-toggle="buttons">
      <label class="btn btn-secondary rounded-pill d-flex align-items-center active">
        <input type="checkbox" {% if search.checked %}checked{% endif %}
          class="position-static mr-1 gsearch-models" value="{{ search.view.model_filter_id }}">
          {{ search.view.verbose_name }}
      </label>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<h6 class="my-1">
  <span class="text-success">{{ gsearch.count }}</span>
  <span class="text-muted">{% trans 'results found' %}</span>
</h6>
<div class="row mw-xxl">
  {% for search in gsearch.views %}
    {% if search.active %}
    <div class="col-sm-12 col-lg-4 pt-3 pr-0">
      <div class="list-group">
        <a href="{{ search.url }}" class="list-group-item list-group-item-action p-2">
          <div class="media align-items-center flex-fill">
            <span class="fa-stack text-primary mr-2">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fas fa-search fa-stack-1x fa-inverse"></i>
            </span>
            <div class="media-body d-flex align-items-center">
              <div class="ml-2">{{ search.view.verbose_name }}</div>
              <div class="ml-auto">
                <span class="text-muted font-italic mr-1">
                  <strong><span class="text-primary">{{ search.view.get_total }}</span></strong> {% trans 'results' %}
                </span>
                <i class="fa fa-chevron-right text-muted"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
<!--/content-->
{% endblock %}