{% load i18n %}
{% load gsearch_tags %}
{% if gsearch.views %}
  <li class="nav-item">
    <div class="nav nav-filter d-none d-xxl-flex align-items-center border rounded-pill shadow mx-2 px-3 py-1">
      <div class="nav-item">
        <div class="form-group">
          <label class="font-weight-bold text-muted d-inline-block pr-2">{% trans 'Search in' %}</label>
          <div class="btn-group btn-group-sm btn-group-toggle btn-group-toggle-switch" data-toggle="buttons">
            {% for search in gsearch.views|slice:":3" %}
                <span class="btn btn-secondary {% if not forloop.first %}ml-1{% endif %} {% if search.checked %}active{% endif %}">
                  <input class="gsearch-models" type="checkbox" name="filter_name_{{ search.view.model_filter_id }}" value="{{ search.view.model_filter_id }}" {% if search.checked %}checked{% endif %}> {{ search.view.verbose_name }}</span>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="nav-item mr-n2">
        <span class="mx-1">...</span>
        <span class="btn btn-subtle-primary position-relative rounded-pill" data-lity="" data-lity-target="#gsearch-filters">
          <i class="far fa-filter"></i> {% trans 'more filters' %}
          <span class="badge badge-pill badge-primary position-absolute position-right position-top badge-notify">{{ gsearch.views|filters_num }}</span>
        </span>

        {% filters_all_checked gsearch.views as all_checked  %}

        <div id="gsearch-filters" class="lity-hide h-100">
          <div class="lity-container-inline card lity-container-w-sm mw-100">
            <div class="card-header d-flex justify-content-between align-items-center fixed-top px-4">
              <h6 class="mb-0"><i class="fal fa-filter mr-1 ml-n1" title="{% trans 'Filters' %}"></i> {% trans 'Search in' %} </h6>
              <div class="mr-2">
                <strong>{% trans 'All' %}</strong>
                <label class="switcher-control switcher-control-lg switcher-control-primary ml-2">
                  <input type="checkbox" id="all-checked-1" name="all" class="switcher-input" data-toggle-checked=".hook-checked-1"
                         {% if all_checked %}checked="checked"{% endif %}>
                  <span class="switcher-indicator"></span>
                </label>
              </div>
            </div>
            <div class="card-body overflow-auto mt-5 pt-4 px-4 mr-2" style="max-height:calc(100vh - 3rem);">

              {% for search in gsearch.views %}
                <div class="form-group d-flex justify-content-between align-items-center">
                <strong>{{ search.view.verbose_name }}</strong>
                  <label class="switcher-control switcher-control-primary">
                    <input type="checkbox" name="filter_name_{{ search.view.model_filter_id }}" value="{{ search.view.model_filter_id }}" class="switcher-input hook-checked-1"
                           {% if search.checked %}checked="checked"{% endif %}>
                    <span class="switcher-indicator"></span>
                  </label>
                </div>
              {% endfor %}

            </div>
          </div>
        </div>


      </div>
    </div>
  </li>
{% endif %}