{% load i18n %}
<form class="flex-grow-1" action="" method="post" id="gsearch_form">
  {% csrf_token %}
  <div class="input-group search-group justify-content-lg-end">
        <span class="input-group-prepend">
        <a class="input-group-text btn" href="{{ gsearch.url }}">
            <i class="fa fa-times-circle"></i>
        </a>
        </span>
    <input id="searchbar" class="form-control" type="text" name="{{ gsearch.search_param }}"
           value="{{ gsearch.search_val }}" placeholder="{% trans "Search text" %}">
    <span class="input-group-append">
        <button class="btn btn-primary" type="submit">
            <i class="fa fa-search"></i>
        </button>
      </span>
  </div>
</form>