{% load i18n %}
<form class="d-none d-xl-block" action="" method="get" id="gsearch_form">
{#  {% csrf_token %}#}
  <div class="input-group search-group justify-content-lg-end">
        {% if gsearch.search_text %}
            <span class="input-group-prepend">
            <a class="input-group-text btn" href="{{ gsearch.url }}">
                <i class="fa fa-times-circle"></i>
            </a>
        </span>
        {% endif %}
    <input id="searchbar" class="form-control" type="text" name="{{ gsearch.search_param }}"
           value="{{ gsearch.search_text }}" placeholder="{% trans "Search text" %}">
    <span class="input-group-append">
        <button class="btn btn-primary" type="submit">
            <i class="fa fa-search"></i>
        </button>
      </span>
  </div>
</form>

<button class="btn btn-primary d-none d-md-flex d-xl-none justify-content-center ml-auto" data-lity data-lity-target="#modal-form-gsearch">
    <span class="fa fa fa-search align-self-center"></span>
</button>
<button class="btn btn-sm btn-primary btn-icon d-flex d-md-none justify-content-center ml-auto mr-1" data-lity data-lity-target="#modal-form-gsearch">
    <span class="far fa fa-search align-self-center"></span>
</button>

<div id="modal-form-gsearch" class="lity-hide">
    <form action="" method="get">
        <div class="lity-container-inline card lity-container-w-sm">
            <div class="card-header">{% trans "Search text" %}</div>
            <div class="card-body">
                <div class="input-group search-group justify-content-end">
                    {% if gsearch.search_text %}
                        <span class="input-group-prepend">
                          <a class="input-group-text btn" href="{{ gsearch.url }}">
                            <i class="fa fa-times-circle"></i>
                          </a>
                        </span>
                    {% endif %}
                    <input id="searchbar-mobile" class="form-control" type="text" name="{{ gsearch.search_param }}" value="{{ gsearch.search_text }}" placeholder="{% trans "Enter what you're looking for" %}">
                    <span class="input-group-append"><button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button></span>
                </div>
            </div>
        </div>
    </form>
</div>