<!--Global search-->
<li class="nav-item header-search mr-md-3">
  <form action="{{ gsearch.url }}" method="get">
    <div class="input-group input-group-alt has-clearable shadow-none dropdown">
      <button type="button" class="close" aria-label="Clear">
        <span aria-hidden="true">
          <i class="fa fa-times-circle"></i>
        </span>
      </button>
      <input type="text" class="form-control" aria-label="Buscar" placeholder="Buscar" name="{{ gsearch.param }}">
    </div>
  </form>
</li>
<!--/Global search-->